<div class="container">
  <h1>Let's Look at Blogs</h1>
  <section>
    <div id="posts">
      <ul>Posts:
        <%@posts.each do |post|%>
           <li><a href='/post/<%=post.id%>'> <%=post.title%></a>
           <%end%></li>
           </li>
      </ul>
      <br>
    <div id='tags'>
      <ul>Tags:
        <%@tags.each do |tag|%>
           <li><a href='/tag/<%=tag.title%>'> <%=tag.title%></a></li>
           </li>
           <%end%>

      </ul>
    </div>

    </div>

    <%if @current_user %>
  </section>
  <div><a href='/create'>Create New Post</a>
  </div>
  <div><a href='/post'>View My Posts</a>
  </div>  
    <%end%>

</div>
