<div class="container">
  <h1>Here is the Full Post</h1>
  <section>
    <div id="post">
      <li>Title: <%=@post.title%>
      </li><br>
      <li>Post : <%=@post.body%>
      </li>
      </ul>
      <br>
   
    </div>

  </section>
  </div>

</div>
