<div class="container">
  <h1>Here Are All the Posts for This Tag</h1>
  <section>
    <div id="posts">
      <ul>Posts:
        <%@posts.each do |post|%>
           <li><a href='/post/<%=post.id%>'> <%=post.title%></a>
           <%end%></li>
           </li>
      </ul>
      <br>
    

    </div>

  </section>
  </div>

</div>
